{% extends 'base.html.twig' %}

{% block title %}RestRank{% endblock %}
{% block javascripts %}
    {{encore_entry_script_tags('app')}}
    {{encore_entry_script_tags('script1')}}
{% endblock %}
{% block body %}
        <div id="home" class="home d-xxl-block d-xl-block d-lg-block d-md-block d-sm-none d-none">
            <div class="container h-100 d-flex flex-column justify-content-end align-items-center text-light text-center">
                <p class="header flex-row display-3">POZNAJ OPINIE O&nbsp;RESTAURACJACH W&nbsp;TWOJEJ OKOLICY</p>
                <div class="input__field d-flex col-12 align-items-center justify-content-center">
                    <nav id="search__field" class="navbar col-11 justify-content-center">
                        <form class="input-group d-flex;" class="form-group" action="/restauracje/szukaj/{type}/{name}" method="post">
                            <input class="form-control mr-sm-2 col-9 col-xxl-9 col-xl-9 col-lg-9 col-md-6 col-sm-6" type="text" name="name" placeholder="Znajdź restaurację" aria-label="Search">
                            <select class="custom-select col-2 col-xxl-3 col-xl-3 col-lg-3 col-md-5 col-sm-5" id="inputGroupSelect04" name="type" type="text" method="post">
                            <option value="1">Nazwa restauracji</option>
                            <option value="2">Miasto</option>
                            </select>
                            <div class="input-group-append col-1">
                            <button class="btn btn-outline-secondary" type="submit">&#x1F50E;&#xFE0E;</button>
                            </div>
                        </form>
                    </nav>                
                </div>
            </div>
            <a class="hero-shadow"></a>
            </div>
            <div class="home__alternative d-xxl-none d-xl-none d-lg-none d-md-none d-sm-flex d-flex h-75">
                <div class="container d-flex flex-column justify-content-center align-items-center text-center">
                <p class="header text__alternative flex-row display-5">POZNAJ OPINIE O&nbsp;RESTAURACJACH W&nbsp;TWOJEJ OKOLICY</p>
                <div class="input__field__alternative d-flex col-12 align-items-center justify-content-center">
                    <div id="search__field__alternative" class="navbar col-12 justify-content-center" type="text" name="name">
                        <form class="input-group__alternative d-flex col-12 justify-content-center h-100 w-100 m-md-5" action="/restauracje/szukaj/{type}/{name}" method="get">
                            <div class="input__alternative col-12">
                                <input class="form-control__alternative" type="text" name="name" type="text" placeholder="Znajdź restaurację" aria-label="Search">
                            </div>
                            <div class="input__alternative col-12">
                                <select name="Type" type="text" name="Type" class="custom-select__alternative d-block" id="inputGroupSelect04__alternative" method="post">
                                    <option class="text-black" value="1">Nazwa restauracji</option>
                                    <option class="text-black" value="2">Miasto</option>
                                </select>
                            </div>
                            <div class="input-group-append__alternative col-12 d-flex">
                                <button class="btn__alternative btn-outline-secondary text-light" type="submit">Szukaj &#x1F50E;&#xFE0E;</button>
                            </div>
                            </form>
                        </div>                
                    </div>
                </div>
            </div>

            
            <div id="aboutus">
                <div class="main__content upper d-xxl-block d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="content__top col-12 d-block d-flex justify-content-center align-content-center col-12">
                        <div class="left__side d-block col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="left__image">
                            </div>
                        </div>
                        <div class="right__side col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-block m-0 p-0">
                            <div class="bar col-6"></div>
                            <div class="right__text">
                                <p class="text__header flex-row display-1">Podziel się opinią z&nbsp;innymi</p>
                                <p class="text flex-row text-uppercase">Poznaj opinie na temat restauracji w&nbsp;Twojej okolicy. Oceń miejsca w&nbsp;których byłeś i&nbsp;pomóż innym w&nbsp;odkryciu najlepszych kulinarnych doznań.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__content upper d-xxl-none d-xl-none d-lg-none d-md-block d-sm-block d-block">
                    <div class="content__top col-12 d-block d-flex justify-content-center align-content-center col-12">
                        <div class="left__side__alternative d-none">
                            <div class="left__image"></div>
                        </div>
                        <div class="right__side col-md-12 col-sm-12 col-12 d-block m-0 p-0">
                            <div class="bar__alternative col-6"></div>
                            <div class="right__text__alternative align-content-center">
                                <p class="text__header flex-row display-1">Podziel się opinią z&nbsp;innymi</p>
                                <p class="text flex-row text-uppercase">Poznaj opinie na temat restauracji w&nbsp;Twojej okolicy. Oceń miejsca w&nbsp;których byłeś i&nbsp;pomóż innym w&nbsp;odkryciu najlepszych kulinarnych doznań.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bottom__field" class="main__content d-xxl-block d-xl-block d-lg-none d-md-none d-sm-none d-none">
                    <div class="bar col-12"></div>
                    <div class="content__bottom col-12 d-block d-flex justify-content-center align-content-center col-12">
                        <div class="left__side__bottom bg-light d-block col-xxl-7 col-xl-7">
                            <div class="ranking__field d-xxl-6 d-xl-6 d-lg-6 container align-items-center justify-content-center d-flex flex-wrap">
                                <div class="field col-6 h-100 w-50 align-items-center justify-content-center d-flex flex-wrap">
                                    <div class="ranking__background align-items-center justify-content-center">
                                        <div class="ranking d-flex justify-content-end align-content-center flex-column">
                                            <div class="opinion__number">
                                                <p class="text-light">{{restaurants}}</p>
                                            </div>
                                            <div class="opinion">
                                                <p class="text-light">Restauracji</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-6 h-100 w-50 align-items-center justify-content-center d-flex flex-wrap">
                                    <div class="ranking__background">
                                        <div class="ranking d-flex justify-content-end align-content-center flex-column">
                                            <div class="opinion__number">
                                                <p class="text-light">{{comments}}</p>
                                            </div>
                                            <div class="opinion">
                                                <p class="text-light">Opinii</p>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>

                        <div class="right__side__bottom col-xxl-5 col-xl-5 col-lg-5 d-block">
                            <div class="right__image__bottom"></div></div>
                        </div>
                    </div>
                </div>
                <div class="main__content d-xxl-none d-xl-none d-lg-block d-md-block d-sm-none d-none d-block">
                    <div class="bar col-12"></div>
                    <div class="content__bottom col-12 d-block d-flex justify-content-center align-content-center">
                        <div class="left__side__bottom bg-light d-block d-lg-7 d-md-12 col-12">
                            <div class="left__side__bottom bg-light d-block d-lg-7 d-md-7 d-sm-12 col-12">
                                <div class="ranking__field  d-lg-6 d-md-7 d-sm-12 d-12 container align-items-center justify-content-center d-flex">
                                    <div class="field col-6 h-100 w-50 align-items-center justify-content-center d-flex flex-wrap">
                                        <div class="ranking__background align-items-center justify-content-center">
                                            <div class="ranking d-flex justify-content-end align-content-center flex-column">
                                                <div class="opinion__number">
                                                    <p class="text-light">{{restaurants}}</p>
                                                </div>
                                                <div class="opinion">
                                                    <p class="text-light">Restauracji</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-6 h-100 w-50 align-items-center justify-content-center d-flex">
                                        <div class="ranking__background">
                                            <div class="ranking d-flex justify-content-end align-content-center flex-column">
                                                <div class="opinion__number">
                                                    <p class="text-light">{{comments}}</p>
                                                </div>
                                                <div class="opinion">
                                                    <p class="text-light">Opinii</p>
                                                </div>
                                            </div>
                                        </div>                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right__side__bottom col-xxl-5 col-xl-5 col-lg-none col-md-none col-sm-none col-12 d-block m-0 p-0">
                            <div class="right__image__bottom"></div>    
                        </div>
                        </div>
                    </div>
                </div>
                <div class="main__content d-xxl-none d-xl-none d-lg-none d-md-none d-sm-block d-block">
                    <div class="bar__alternative col-12"></div>
                    <div class="content__bottom col-12 d-block d-flex justify-content-center align-content-center col-12">
                        <div class="left__side__bottom bg-light d-block w-100 d-sm-12 d-12">
                            <div class="ranking__field d-sm-12 d-12 container align-items-center justify-content-center d-flex flex-wrap">
                                <div class="field col-6 h-100 w-50 align-items-center justify-content-center d-flex flex-wrap">
                                    <div class="ranking__background__alternative__small align-items-center justify-content-center">
                                        <div class="ranking__alternative__small d-flex justify-content-end align-content-center flex-column">
                                            <div class="opinion__number">
                                                <p class="text-light">{{restaurants}}</p>
                                            </div>
                                            <div class="opinion">
                                                <p class="text-light">Restauracji</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 h-100 w-50 align-items-center justify-content-center d-flex flex-wrap">
                                    <div class="ranking__background__alternative__small">
                                        <div class="ranking__alternative__small d-flex justify-content-end align-content-center flex-column">
                                            <div class="opinion__number">
                                                <p class="text-light">{{comments}}</p>
                                            </div>
                                            <div class="opinion">
                                                <p class="text-light">Opinii</p>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                        <div class="right__side__bottom col-xxl-5 col-xl-5 col-lg-none col-md-none col-sm-none col-12 d-block m-0 p-0">
                            <div class="right__image__bottom"></div>    
                        </div>
                    </div>
                </div>
                        
{% endblock %}
