{% extends 'base.html.twig' %}

{% block title %}Opinions{% endblock %}

{% block body %}
    <h1>Opinions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opinion.id }}</td>
            </tr>
            <tr>
                <th>UserLogin</th>
                <td>{{ opinion.UserLogin }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ opinion.Text }}</td>
            </tr>
            <tr>
                <th>RestaurantId</th>
                <td>{{ opinion.RestaurantId }}</td>
            </tr>
            <tr>
                <th>Stars</th>
                <td>{{ opinion.Stars }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opinions_index') }}">back to list</a>

    <a href="{{ path('app_opinions_edit', {'id': opinion.id}) }}">edit</a>

    {{ include('opinions/_delete_form.html.twig') }}
{% endblock %}
