{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="table__style container">
    <h1 class="form__header">Lista restauracji</h1>

    <table class="table">
        <thead>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr class="table__index">
                <td class="column text__column image__column"><div class="column__row__field col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><img src={{restaurant.image}} class="image__form"></div></td>
                <td class="column text__column"><div class="column__row__field d-flex col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ restaurant.Name }}</div></td>
                <td class="column text__column__city"><div class="column__row__field col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ restaurant.City }}</div></td>
                <td class="column text__column__city"><div class="column__row__field col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">★ {{ restaurant.Average|round(1, 'floor')}} ({{restaurant.countOpinions}})</div></td>
                <td class="column text__column">
                    <div class="d-flex flex-wrap justify-items-center justify-content-center column__row__field d-flex col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <a class="btn__white__form" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">Wyświetl</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Nie znaleziono restauracji</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn__white__form w-100 my-4" href="{{path('app_restaurant_new')}}">Dodaj restaurację</a>
    <a class="btn__white__form w-100 my-4" href="{{ path('app_login') }}">Zaloguj się żeby dodać restaurację</a>
    </div>
{% endblock %}
