{% extends 'base.html.twig' %}

{% block title %}Restauracja{% endblock %}
{% block body %}

<div class="table__style container">
            <h1 class="form__header pb-4">Restauracja {{restaurant.Name}}</h1>
            <div class="table d-block">
                <div class="d-flex">
                    <div class="table__index__show flex-wrap d-flex align-content-center w-100">
                        <div class="image__column d-flex flex-wrap">
                            <img src={{restaurant.image}} class="image__form__show">
                        </div>
                        <div>
                             <table>
                                            <tr>
                                                <th class="table__header__show">Miasto</th>
                                                <td class="table__content">{{ restaurant.City }}</td>
                                            </tr>
                                            <tr>
                                                <th class="table__header__show">Ulica</th>
                                                <td class="table__content">{{ restaurant.Street }}</td>
                                            </tr>
                                            <tr>
                                                <th class="table__header__show">Numer budynku</th>
                                                <td class="table__content">{{ restaurant.AddressNumber }}</td>
                                            </tr>
                                            <tr>
                                                <th  class="table__header__show">Opis</th>
                                                <td class="table__content" >{{ restaurant.Description }}</td>
                                            </tr>
                                </table>
                        </div>
                    </div>
                </div>
             </div> 

        <h2 class="form__header__medium pb-2">Opinie użytkowników</h2>
    <div>
        <table class=" table table__comment d-xxl-block d-xl-none d-lg-none d-md-none d-sm-none d-none">
            <thead>
            </thead>
            <tbody class="tbody__comment d-flex">
                {% for comment in restaurant.comments %}
                    <tr class="col-12 w-100 table__index__comment d-flex">
                        <th class="col-8 comment__data">{{comment.UserLogin}}</th>
                        <th class="col-2 comment__data">{{comment.Date|date("d/m/y") }}</th>
                        <th class="col-2 comment__data">
                            {% if comment.Stars == '1' %}
                            <p>&#9733;</p>
                            {% elseif comment.Stars == '2' %}
                            <p>&#9733;&#9733;</p>
                            {% elseif comment.Stars == '3' %}
                            <p>&#9733;&#9733;&#9733;</p>
                            {% elseif comment.Stars == '4' %}
                            <p>&#9733;&#9733;&#9733;&#9733;</p>
                            {% elseif comment.Stars == '5' %}
                            <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            {% endif %}
                        </th>
                    </tr>
                    <tr class="col-12 comment__data__content">
                        <td class="comment__text">{{ comment.Text }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Nie znaleziono restauracji</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
    <div>
        <table class=" table table__comment d-xxl-none d-xl-block d-lg-block d-md-block d-sm-block d-block">
            <thead>
            </thead>
            <tbody class="tbody__comment d-flex">
                {% for comment in restaurant.comments %}
                    <tr class="col-12 w-100 table__index__comment d-flex">
                        <th class="col-12 comment__data">{{comment.UserLogin}}</th>
                        <th class="col-12 comment__data">{{comment.Date|date("d/m/y") }}</th>
                        <th class="col-12 comment__data">
                            {% if comment.Stars == '1' %}
                            <p>&#9733;</p>
                            {% elseif comment.Stars == '2' %}
                            <p>&#9733;&#9733;</p>
                            {% elseif comment.Stars == '3' %}
                            <p>&#9733;&#9733;&#9733;</p>
                            {% elseif comment.Stars == '4' %}
                            <p>&#9733;&#9733;&#9733;&#9733;</p>
                            {% elseif comment.Stars == '5' %}
                            <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            {% endif %}
                        </th>
                    </tr>
                    <tr class="col-12 comment__data__content">
                        <td class="comment__text">{{ comment.Text }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Nie znaleziono opinii</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
    {% if is_granted('ROLE_USER') %}
    <a class="btn__white__form w-100 my-4" href="{{ path('app_comments_new', {'id': restaurant.id}) }}">Dodaj opinię</a>
    {% else %}
    <a class="btn__white__form w-100 my-4" href="{{ path('app_login') }}">Zaloguj się żeby dodać opinię</a>
    {% endif %}
    <a class="btn__white__form w-100 my-4" href="{{ path('app_restaurant_index') }}">Powrót do listy restauracji</a>
</div>
</div>
{% endblock %}






