{% extends 'base.html.twig' %}

{% block title %}RestRank{% endblock %}

{% block body %}
    <h1>Edit Comments</h1>

<div class="container pt-4">
        <div id="aboutus">
            <div class="register__form pt-4 d-block pb-4">
                <div class="logged__panel pt-4 flex-column d-flex d-xxl-block d-xl-block d-lg-block d-md-block d-sm-none d-none w-100">
                    <div class="d-flex pt-4 justify-content-center align-content-center"><h1 class="register__header">Dodawanie opinii</h1></div>
                        </div>
                    </div>
                <div class="logged__panel__alternative flex-column d-flex d-xxl-none d-xl-none d-lg-none d-md-none d-sm-block d-block w-100">
                    <div class="d-flex pt-4 justify-content-center align-content-center"><h1 class="register__header__alteriative">Dodawanie opinii</h1></div>
                     </div>
                </div>
        <div>
            <div class="container register__form__panel justify-content-center align-content-center d-block">
                <div class="container register__form__handler justify-content-center d-flex">
                        <div class="container-fluid register__input justify-content-center">
                                {{ form_start(form) }}
                                    {{ form_row(form.Text) }}
                                <div class="widget__field">{{ form_widget(form) }}</div>
                            <div class="login__button contaienr w-100 mb-2">
                                    <button class="btn__white d-flex justify-content-center" type="submit">{{ button_label|default('Zmień') }}</button>
                             {{ form_end(form) }}
                            </div>
                            <div class="login__bottom__buttons w-100 justify-content-center align-items-center d-flex">
                                <a href="{{ path('app_user_panel') }}" id="register__login" class="login__buttons"><span class="border__none">Powrót do panelu użytkownika</span></a>
                            </div>
                        </div>
                </div>
                <form class="container form-inline my-2 my-lg-0 pt-4 pb-4 d-xxl-flex d-xl-flex d-lg-flex d-md-none d-sm-none d-none">
                                <div class="person col-2 justify-content-end align-items-end align-content-end">
                                    <i class="bi bi-exclamation-square-fill square-fill"></i>
                                </div> 
                                <div class="text__register__form">
                                    <div>
                                        Klikając przycisk dodaj, potwierdzam, że podane dane są prawdziwe. Świadome wprowadzanie fałszywych informacji narusza zasady i warunki dotyczące witryny internetowej RestRank.
                                    </div>
                                </div> 
                                <div class="person col-1 justify-content-end align-items-end align-content-end">
                                    <i class="bi bi-eye-fill hidden"></i>
                                </div>  
                </form>
                <form class="form-inline my-2 my-lg-0 pt-4 pb-4 d-flex d-xxl-none d-xl-none d-lg-none d-md-flex d-sm-flex d-flex">
                                <div class="person col-3 justify-content-end align-items-end align-content-end">
                                    <i class="bi bi-exclamation-square-fill square-fill square-fill__alternative"></i>
                                </div> 
                                <div class="text__register__form__alternative">
                                    <div>
                                        Klikając przycisk oceń, potwierdzam, że podane dane są prawdziwe. Świadome wprowadzanie fałszywych informacji narusza zasady i warunki dotyczące witryny internetowej RestRank.
                                    </div>
                                </div>  
                                <div class="person justify-content-end align-items-end align-content-end">
                                    <i class="bi bi-eye-fill eye__alternative hidden"></i>
                                </div> 
                </form>  
            </div>
        </div>
    </div>

{% endblock %}
