{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{encore_entry_script_tags('app')}}
    {{encore_entry_script_tags('script1')}}
{% endblock %}
{% block body %}

<div class="container">
    <table class=" table table__comment ">
                <tr>
                    <th class="comment__data">Login</th>
                    <td class="comment__data__content">{{ user.Login }}</td>
                </tr>
                <tr>
                    <th class="comment__data">Email</th>
                    <td class="comment__data__content">{{ user.Email }}</td>
                </tr>
    </table>

    <div>
        <div class="container-fluid register__input justify-content-center">
            <div class="login__button d-flex">
                <a class="btn__white__form w-25 mt-4 d-xxl-block d-xl-block d-lg-block d-md-block d-sm-none d-none" href="{{ path('app_user_edit', {'id': user.id}) }}">Edytuj dane</a>
                <a class="btn__white__form w-100 mt-4 d-xxl-none d-xl-none d-lg-none d-md-none d-sm-block d-block" href="{{ path('app_user_edit', {'id': user.id}) }}">Edytuj dane</a>
            </div>
            <div class="login__bottom__buttons justify-content-center align-items-center d-flex">
                {{ include('users/_delete_form.html.twig') }}
            </div>
         </div>
    </div>
</div>

{% endblock %}
